<!DOCTYPE html>
<html>

<head>
	<title>Image Captioning</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<style type="text/css">
		.heading {
			font-weight: 100;
			font-size: 4em;
		}

		img {
			height: 90%;
			width: 100%;
		}

		.text {
			font-size: 32px;
			font-style: italic;
		}

		.star-rating {
			font-size: 0;
		}

		.star-rating__wrap {
			display: inline-block;
			font-size: 1rem;
		}

		.star-rating__wrap:after {
			content: "";
			display: table;
			clear: both;
		}

		.star-rating__ico {
			float: right;
			padding-left: 2px;
			cursor: pointer;
			color: #FFB300;
		}

		.star-rating__ico:last-child {
			padding-left: 0;
		}

		.star-rating__input {
			display: none;
		}

		.star-rating__ico:hover:before,
		.star-rating__ico:hover~.star-rating__ico:before,
		.star-rating__input:checked~.star-rating__ico:before {
			content: "\f005";
		}
	</style>

</head>

<body>
	<div class="container">
		<div class="jumbotron ">
			<div class="container">
				<h1 class="heading">Image-Caption Generator</h1>
			</div>
		</div>



		<form class="form-inline" enctype="multipart/form-data" action="/" method="POST">
			<label><b>Image: &nbsp;&nbsp; </b></label>
			<input type="file" class="form-control" name="image">
			<button type="submit" class="btn btn-primary"> Submit</button>
		</form>

		<br>

		{% if results %}
		<div class="row">
			<div class="col-sm-4">
				<img src="{{url_for('static', filename=results.filename)}}" />
			</div>
			<div class="col-sm-8">

				<p class="text">Generated Caption : </p>
				<p><b> {{results.description}} </b> </p>
			</div>


		</div>

		<form class="margin: auto" action="/getRate" method="POST">
			<label><b>Suggest Better Caption: &nbsp;&nbsp; </b></label>
			<input type="text" class="form-control" name="captionSuggestion">
			<div class="star-rating">
				<div class="star-rating__wrap">
					<label><b>Rate Caption: &nbsp;&nbsp; </b></label>
					<p>
						<input class="star-rating__input" type="radio" name="options" id="10" value="10">
						</input<br>
						<label class="star-rating__ico fa fa-star-o fa-lg" for="10" title="10 out of 10 stars"></label>

						<input class="star-rating__input" type="radio" name="options" id="9" value="9">
						</input<br>
						<label class="star-rating__ico fa fa-star-o fa-lg" for="9" title="9 out of 10 stars"></label>

						<input class="star-rating__input" type="radio" name="options" id="8" value="8">
						</input<br>
						<label class="star-rating__ico fa fa-star-o fa-lg" for="8" title="8 out of 10 stars"></label>

						<input class="star-rating__input" type="radio" name="options" id="7" value="7">
						</input<br>
						<label class="star-rating__ico fa fa-star-o fa-lg" for="7" title="7 out of 10 stars"></label>
						<input class="star-rating__input" type="radio" name="options" id="6" value="6">
						</input<br>
						<label class="star-rating__ico fa fa-star-o fa-lg" for="6" title="6 out of 10 stars"></label>
						<input class="star-rating__input" type="radio" name="options" id="5" value="5">
						</input<br>
						<label class="star-rating__ico fa fa-star-o fa-lg" for="5" title="5 out of 10 stars"></label>
						<input class="star-rating__input" type="radio" name="options" id="4" value="4">
						</input<br>
						<label class="star-rating__ico fa fa-star-o fa-lg" for="4" title="4 out of 10 stars"></label>
						<input class="star-rating__input" type="radio" name="options" id="3" value="3">
						</input<br>
						<label class="star-rating__ico fa fa-star-o fa-lg" for="3" title="3 out of 10 stars"></label>
						<input class="star-rating__input" type="radio" name="options" id="2" value="2">
						</input<br>
						<label class="star-rating__ico fa fa-star-o fa-lg" for="2" title="2 out of 10 stars"></label>
						<input class="star-rating__input" type="radio" name="options" id="1" value="1">
						</input<br>
						<label class="star-rating__ico fa fa-star-o fa-lg" for="1" title="1 out of 10 stars"></label>
					</p>
				</div>
			</div>
			<input type="hidden" name="fname" value={{results.filename}} />
			<input type="hidden" name="fval" value='{{results.description}}' />

			<p><input type=submit value=Submit></p>

			{% endif %}
		</form>


		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
			integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
			crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
			integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
			crossorigin="anonymous"></script>
</body>

</html>